
/*
/* Run animation on Webpage */
/*@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.win-animation {
    animation: fadeIn 2s;
} */

/*@keyframes moveRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.move-right {
    animation: moveRight 2s forwards;
}
*/
/* designing buttons */

button
{
    color: darkseagreen;
    border-color:firebrick;
    border-width: 100px;
    border-radius: 50px;
    border-radius: 50px;
    margin-left: 20px;
        /* Add some space between the video and buttons */
        display: flex;
        flex-direction: column;
        /* Stack buttons vertically */
        gap: 10px;
}

/*.video-button-container {
    display: flex;
    align-items: center;
    /* Align items vertically 
}     */



